
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

main{
  background: #f6f8fa;
  padding: 50px 25px;
}
section{
  background: #fff;
  box-shadow: 0px 0px 8px rgb(209, 211, 217)
}
main{
  display: flex;
  padding: 70px 30px;
}
.left-col{
  width:20%;
}
.right-col{
  width:80%;
  padding-left: 1%;
}
.info-container{
  height:100%;
  padding: 15px 30px;
}
.graph-container{
  margin-bottom: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
